body {
    font-family: "sans-serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                 "Helvetica Neue", Arial;
} 

html, body, #root {
    height: 100%;
    scrollbar-gutter: stable;
}


.container {
    min-width: 0;
}

.sidebar {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* Remove native spin buttons in WebKit browsers (Chrome / Edge / Safari) */
.ce-number::-webkit-outer-spin-button,
.ce-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove native spin buttons in Firefox */
.ce-number[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Works for modern Chrome/Safari as well */
}